name: build artifact and publish to pypi test
on: 
  # whenever a PR is closed against main, or allow manual runs
  workflow_dispatch:
  workflow_run: 
    workflows: ["bump version"]
    types:
      - completed

jobs:
  build_artifacts:
    uses: ./.github/workflows/deploy_build_artifact.yaml
    # output:
      # artifact-url:
      # artifact-id:
      # package-version:
      # artifact-name:

  # test this here, then move to deploy_to_pypi.yml
  deploy_to_pypi_test:
    needs: [build_artifacts]
    uses: ./.github/workflows/deploy_to_pypi.yml
    with:
      package-version: ${{ needs.build_artifacts.outputs.package-version }}
      target-environment: 'pypi-test'
      artifact-name: ${{ needs.build_artifacts.outputs.artifact-name }}
    
  deploy_to_pypi_prod:
    needs: [build_artifacts, deploy_to_pypi_test]
    uses: ./.github/workflows/deploy_to_pypi.yml
    with:
      package-version: ${{ needs.build_artifacts.outputs.package-version }}
      target-environment: 'pypi-prod'
      artifact-name: ${{ needs.build_artifacts.outputs.artifact-name }}
